{% extends 'base.html.twig' %}

{% block contenido %}
    <div class="loging" id ="reg">
        <div>
            <div id="login-form-container">
                <section>
                    <h1>Registrate</h1>
                     <div class ="logo"><!-- hijo situado en la izquierda -->
                        <img src="{{ asset('assets/images/hermes.png') }}" alt="una empresa">
                    </div>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </section>
            </div>      
        </div>
    </div>
{% endblock %}
