{% extends 'base.html.twig' %}
{% block contenido %}
    <section><!-- envoltorio de los articulos -->
        {% block pagina_inicio %}
            <article><!-- contenedor de las secciones -->
                {% block fila_titulo %}
                    <div><!-- envoltorio de fila -->
                        <div><!-- contenedor de fila -->
                            {% for proyecto in proyectos %}
                                <div><!-- envoltorio del proyecto -->
                                    <div><!-- contenedor del proyecto -->
                                        <div><!-- envoltorio de la imagen -->
                                            <div><!-- contenedor de la imagen -->
                                                <img src="{{proyecyo.img}}" alt="">
                                            </div>
                                        </div>
                                        <div><!-- envoltorio del resumen -->
                                            <div><!-- contenedor del resumen -->
                                                <p>{{proyecto.descripcion}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endblock %}
            </article>
            <div><!-- envoltorio del registro -->
                <div><!-- contenedor del registro -->
                    {% block registrate %}
                        <div>
                            <h1>¿Por qué quieres registrarte?</h1>
                            <p>Gracias a proyecto Hermes muchas ideas han conseguido financiación y se han convertido en proyectos de éxito, no seas menos que nadie, tú también puedes lograrlo y recuerda, ¡Es gratis!</p>
                        </div>
                        <div>
                            
                        </div>
                    {% endblock %}   
                </div>
            </div>               
        {% endblock %}
    </section>
{% endblock %}