{% extends 'base.html.twig' %}

{% block contenido %}
    <h1>CLAUSULA DE PROTECCIÓN DE DATOS DE CARÁCTER PERSONAL 
        PARA CLIENTES</h1>
    <p>
Le informamos que sus datos serán tratados por Grandes Almacenes FNAC España S.A.U. (a partir de ahora “FNAC”) 
que actuará en calidad del responsable del tratamiento de los mismos. </p>
    <p>
    Las finalidades de dichos tratamientos son el mantenimiento de la relación comercial y los servicios ofrecidos o contratados 
    asociados a dicha relación. 
    <p>
La base legitimadora de estos tratamientos es la propia obligación comercial.</p>
    <p>
Los datos personales se conservarán durante la vigencia de la relación comercial y posteriormente, 
siempre que el cliente no haya ejercitado su derecho de supresión, serán conservados teniendo en cuenta los plazos 
legales que resulten de aplicación en cada caso concreto, teniendo en cuenta la tipología de los datos, así como la finalidad del tratamiento.
    </p>
    <p>
        FNAC no realiza cesiones de los datos de carácter personal de sus clientes a ninguna otra entidad, salvo obligación legal que así lo disponga.</p>
    <p>
FNAC garantiza al titular el ejercicio de los derechos de acceso, rectificación, supresión, oposición, limitación y portabilidad dirigiéndose por 
escrito y acompañando fotocopia del DNI al Comité de Protección de Datos de Grandes Almacenes Fnac España , S.A.U., Paseo de la Finca 1, bloque 11, 
planta 2, 28223, Pozuelo de Alarcón, Madrid.
    <p>
        
Para mayor información sobre el tratamiento de sus datos de carácter personal, puede dirigirse a la Política de privacidad de FNAC, alojada en la página web www.fnac.es. Asimismo, le informamos que FNAC ha nombrado un Delegado de Protección de Datos (DPO/DPD) que podrá contactarse a través de https://gdpr.fnac.es/dpo.html para cualquier información adicional al respecto.
    </p>
{% endblock %}