@font-face {
    font-family: "text";
    src: url(../fonts/PT_Sans/PT_Sans-Web-Regular.ttf);
}
@font-face {
    font-family: "title_old";
    src: url(../fonts/PT_Serif/PT_Serif-Web-Bold.ttf);
}
@font-face {
    font-family: "cuatro";
    src: url(../fonts/Marcellus_SC/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: "title_old2";
    src: url(../fonts/Playfair_Display/MarcellusSC-Regular.ttf);
}
@font-face {
    font-family: "title";
    src: url(../fonts/Righteous/Righteous-Regular.ttf);
}
*
{
    transition: 0.5s;
}
html {
    min-height: 100%;
    position: relative;
}
body{
    background-color: #F2F2F2;
    margin: 0px 0px;
    font-family: text;
    overflow-x: hidden;
}
h1{
    font-family: title;
}

#blog,#allcomentarios,footer, header, #info, #reguistro, #comentarios, #userstop, #projectop, #project, .loging, #error, #nuevoProjecto, #perfil {
    width: 100%;
    justify-content: center;
    display: flex;
}
footer{
    background-color: #0A1218;
    /*    justify-content: center;*/
    display: flex;
    /*    position: sticky;
        bottom: 0;*/
}
#perfil>div:nth-child(1),#nuevoProjecto>div:nth-child(1),#error:nth-child(1),#blog>div:nth-child(1),.loging >div:nth-child(1), #allcomentarios> div:nth-child(1),#project> div:nth-child(1),#projectop > div:nth-child(1), #userstop> div:nth-child(1),footer> div:nth-child(1), header> div:nth-child(1), #info>div:nth-child(1), #reguistro>div:nth-child(1), #comentarios>div:nth-child(1){
    width: 1200px;
}
footer> div:nth-child(1){

    display: flex;
    color: #BDBDBD;
    display: flex;
    align-items: center;

}

footer> div:nth-child(1)>div:nth-child(1){
    background-image: url("../images/images2.jpg");
    height: 100px;
    background-repeat: no-repeat;
    width: 102px;
    background: #026f97 no-repeat bottom center fixed;
}
footer> div:nth-child(1)>div>ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    padding-left: 5px;
}
footer> div:nth-child(2)>div:nth-child(1){
    justify-content: center;
}
footer> div:nth-child(2)>div:nth-child(1)>ul{
    justify-content: flex-end;
}
footer> div:nth-child(1)>div>ul>li{
    margin-left: 5px;
}
footer> div:nth-child(1)>div>ul>li>a{
    color: #BDBDBD;
    text-decoration:none; 
}
footer> div:nth-child(1)>div:nth-child(3){
    justify-content: flex-end;
    width: 45%;
    display: flex;
}
header{
    border-bottom: 1px solid #2D9CDB;
}
nav> ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    height: 33px;
}
nav> ul > li >a {
    text-decoration: none;
    color: #000000;
}
nav> ul > li {
    margin-right: 12px;
    border-right: 1px solid #2D9CDB;
    padding-right: 20px;
    display: flex;
    align-items: center;
}
#info{
    margin-bottom: 100px;
}
#info >div:nth-child(1)>div{
    width: 272px;
}
#info >div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#info >div:nth-child(1)> div:nth-child(1), #info >div:nth-child(1)> div:nth-child(2), #info >div:nth-child(1)> div:nth-child(1){
    display: flex;
    flex-direction: column; 
}
#reguistro {
    background-color: #012545;
    color:#ffffff;
    transform: skew(0deg, -4deg);
    transition: width 1.2s ease-in-out;
    /*margin-top: 43px;*/
    /*margin-bottom: 43px;*/
}
#reguistro > div:nth-child(1){
    display: flex;
    margin-top: 43px;
    margin-bottom: 43px;
}
#reguistro > div:nth-child(1)>div:nth-child(1){
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    transform: skew(0deg, 4deg);
}
#reguistro > div:nth-child(1)>div:nth-child(2){
    display: flex;
    flex-direction: column;
    width: 364px;
    margin-left: 213px;
    transform: skew(0deg, 4deg);
}
#register>div{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
#register>div>button{
    width: 120px;
    background: #2888dd;
    border: solid 2px #009ade;
    color: #fcfcfc;
    height: 39px;
}
#register>div:nth-child(8){
    align-items: flex-end;
}
#reguistro{
    margin-bottom: 100px;
}

#reguistro > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > form:nth-child(1) input:focus
{
    border: solid 2px lightblue;
}
#comentarios>div:nth-child(1){
    display: flex;
    justify-content: space-around;
    z-index: 1;
}
#comentarios > div:nth-child(1)> div:nth-child(1)> div:nth-child(1)> div:nth-child(1) ,#comentarios > div:nth-child(1)> div:nth-child(2)> div:nth-child(1)> div:nth-child(1){
    background-image: url("../images/tesla.jpg");
    height: 235px;
    width: 283px;
    background-position: 50% 7%;
}
#comentarios > div:nth-child(1)>div:nth-child(1),#comentarios > div:nth-child(1)>div:nth-child(2){
    border: 4px solid #56CCF2;
    width: 335px;
}
#comentarios > div:nth-child(1)>div:nth-child(1)>div:nth-child(1), #comentarios > div:nth-child(1)>div:nth-child(2)>div:nth-child(1){
    padding: 10px 0px 0px 20px;
    margin-left: 60px;
}
#comentarios > div:nth-child(1)>div:nth-child(1)>div:nth-child(2),#comentarios > div:nth-child(1)>div:nth-child(2)>div:nth-child(2){
    padding: 0px 15px;
}
#comentarios > div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>h2, #comentarios > div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>h2{
    color: #2D9CDB;
    font-size: 19px;
}
#comentarios > div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>h1, #comentarios > div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>h1{
    font-size: 28px;
    margin: 0px 0px;
}
#comentarios > div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>p:before, #comentarios > div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>p:before{
    content: "“";
}
#comentarios > div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>p ,#comentarios > div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>p{
    font-style: oblique;
}
#comentario·s > div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>p:after,#comentarios > div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>p:after{
    content: "”";
}
#userstop{
    margin-top: 100px;

}
#userstop> div:nth-child(1){
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;

}
#userstop> div:nth-child(1)>div:nth-child(2){
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.container_user{
    /*    border: 4px solid #56CCF2;*/
    width: 335px;
    margin-bottom: 44px;
    /*    border-radius: 204px;
        overflow: hidden;*/
}
.container_user > div:nth-child(2) > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_user >div:nth-child(1)>img{
    width: 250px;
    height: 250px;
    border-radius: 200px;
}
.container_user >div:nth-child(1){
    justify-content: center;
    display: flex;
}
#userstop >div:nth-child(1)>div:nth-child(1){
    justify-content: center;
    display: flex;
}
#projectop:before{
    content: '';
    display: block;
    width: 100%;
    height: 331px;
    margin-top: -279px;
    transform: skew(0deg -51deg);
    transform: skew(0deg, -3deg);
    transition: width 1.2s ease-in-out;
    background: #f2f2f2;
    position: absolute;
    left: 0px;

}
#projectop>div:nth-child(1){
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 87px;
}
#projectop{
    background-color: #012545;
    /*    margin-bottom: 64px;*/
    height: auto;
}
#projectop>div:nth-child(1)>div:nth-child(2){
    display: flex;
    justify-content:center;
    flex-direction: column;
}
.continer_project, .continer_projectn{
    background-color: #F2F2F2;
    overflow: hidden;
    height: 228px;
    width: 854px;
    height: 235px;
    margin-bottom: 20px;
}
.continer_project>div:nth-child(1)>div:nth-child(1){
    overflow: hidden;
    width: 50%;
    display: flex;
    justify-content: center;
}
.continer_project>div:nth-child(1){
    display: flex;
    flex-direction: row;
}
.continer_project>div:nth-child(1)>div:nth-child(2){
    padding: 0px 16px 0px 41px;
    width: 301px;
}
.continer_project>div:nth-child(1)>div:nth-child(2)>div:nth-child(2){
    height: 124px;
    overflow: hidden;
}
.continer_projectn>div:nth-child(1)>div:nth-child(3) >a, .continer_project>div:nth-child(1)>div:nth-child(2)>div:nth-child(3){
    border: solid 1.5px #007098;
    height: 33px;
    width: 131px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.continer_projectn>div:nth-child(1)>div:nth-child(3)>a, .continer_project>div:nth-child(1)>div:nth-child(2)>div:nth-child(3)>a{
    text-decoration:none; 
    color:#007098;
}
.continer_projectn{
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}
.continer_projectn>div:nth-child(1){
    text-align: center;
    width: 100%;

}
.continer_projectn>div:nth-child(1)>div:nth-child(2){
    padding: 0px 20px;
}
.continer_projectn>div:nth-child(1)>div:nth-child(3){
    justify-content: center;
    display: flex;
}
#projectop > div:nth-child(1) > div:nth-child(1){
    color:#ffffff;
}
/*******PROJECTO********/

#project>div:nth-child(1){
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-direction: column;
}
.imgProjec{
    width: 1200px;
    overflow: hidden;
    height: 473px;
    display: flex;
    justify-content: center;
}
.imgProjec>img{
    width: 100%;
}
#project>div:nth-child(1)>div:nth-child(3){
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
#project > div:nth-child(1) > div:nth-child(3)>div:nth-child(1)>button{
    background-color: #f2f2f2;
    border-radius: 100px;
    border:none;
}
.options,.options2{
    display: flex;
    justify-content: space-around;
}
.options2{
    width: 300px;
}
.options>div, .options2>button, .options2>div{
    border: 2px solid #2D9CDB;
    width: 126px;
    padding: 0px 2px;
    background-repeat: no-repeat;
    background-position: 96px;
}
.options>div:nth-child(1){
    background-image: url("../images/chat.png");
}
.options>div:nth-child(2), .options2>button{
    background-image: url("../images/icon.png");

}
.options>div:nth-child(2)>a{
    text-decoration: none;
    color: #000000;
}
#project > div:nth-child(1) > div:nth-child(7){
    background-color: lightblue;
    border: solid 2px #79bbf8;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
#project > div:nth-child(1) > div:nth-child(7)>div:nth-child(1)>h1{
    justify-content: center;
    display: flex;
}
#project > div:nth-child(1) > div:nth-child(7)>div:nth-child(1){
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
.colaborador{
    display: flex;
}
.colaborador>div:nth-child(2){
    align-items: center;
    display: flex;
    margin: 10px;
}
.colaborador>div:nth-child(2)>h2{
    color: #0e4a80;
}
.colaborador>div:nth-child(1){
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 100px;
}
#project>div:nth-child(1)>div:nth-child(4){
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}
#project>div:nth-child(1)>div:nth-child(4){

    margin: 20px 0px;

}
#project>div:nth-child(1)>div:nth-child(1){
    text-transform:uppercase;
    display: flex;
    justify-content: center;
}
#project>div:nth-child(1)>div:nth-child(5){
    margin-top: 10px;
}
#comment>div:nth-child(1){
    display: flex;
    /*justify-content: center;*/
    width: 65%;
}
#comment{
    width: 941px;
}
#comment>div:nth-child(1)>label{
    display: none;
}
#comment>div:nth-child(1)>input::before{
    content: "Deja tu comentario";
}
#comment>div:nth-child(1)>textarea, #comment>div:nth-child(1)>div {
    background-color: #cddde3;
    border: transparent;
    /*height: 100px;*/
    width: 100%;
    /*padding: 28px;*/
    padding-top: 22px;
    padding-left: 55px;
    border-radius: 41px 41px 41px 41px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    min-height: 3em;
    max-height: 0em;

}
#comment>div:nth-child(2)>button, .comm>div:nth-child(2)>div:nth-child(3){
    background: transparent;
    border: 2px solid #2D9CDB;
    width: 104px;
    width: 125px;
    height: 38px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#comment>div:nth-child(2){
    /*    display: flex;
        justify-content: flex-end;
        display: flex;
        width: 85%;*/
    margin: 26px 0px 0px 26px;
}
hr{
    color: #2D9CDB;
    padding: 1px;
    width: 44%;
    background-color: #2D9CDB;
    border: none;
    margin-left: 268px;
}
.comm{
    display: flex;
    /*justify-content: center;*/
    display: flex;
}
.comm>div:nth-child(1){
    width: 142px;
}
.comm>div:nth-child(1)>img{
    width: 103px;
}
.comm>div:nth-child(2){
    flex-direction: column;
    justify-content: center;
    display: flex;
}


/************************loging*********************************/
.loging >div:nth-child(1)>div:nth-child(1){
    background-color: rgba(7, 61, 92, 0.7);
    width: 29%;
    justify-content: center;
    display: flex;
    padding-bottom: 50px;
}
.loging >div:nth-child(1)>div:nth-child(1)>section>form{
    display: flex;
    flex-direction: column;

}
.loging {
    padding-bottom: 17%;
    padding-top: 50px;
}
.loging >div:nth-child(1){
    display: flex;
    justify-content: center;
}
.loging >div:nth-child(1)>div:nth-child(1)>section>form>input:last-child{
    border-radius: 0px 0px;
    border: none;
    height: 27px;
    width: 50%;
    background-color: #f2f2f2;
}

.email{
    background-image: url("../images/envelope.png");
    background-repeat: no-repeat;
    border: none;
    height: 29px;
    background-position: 5px;
    padding-left: 31px;
    margin-bottom: 15px;
}
.email2{
    background-image: url("../images/message.png ");
    background-repeat: no-repeat;
    border: none;
    height: 29px;
    background-position: 5px;
    padding-left: 31px;
    margin-bottom: 15px;
}
.passwd{
    background-image: url("../images/key.png");
    background-repeat: no-repeat;
    border: none;
    height: 29px;
    background-position: 5px;
    padding-left: 31px;
    margin-bottom: 15px;
}
.sector{
    background-image: url("../images/connection.png");
    background-repeat: no-repeat;
    border: none;
    height: 29px;
    background-position: 5px;
    padding-left: 31px;
    margin-bottom: 15px;
}
.telefono{
    background-image: url("../images/old-typical-phone.png");
    background-repeat: no-repeat;
    border: none;
    height: 29px;
    background-position: 5px;
    padding-left: 31px;
    margin-bottom: 15px;
}
.username{
    background-image: url("../images/man-user.png");
    background-repeat: no-repeat;
    border: none;
    height: 29px;
    background-position: 5px;
    padding-left: 31px;
    margin-bottom: 15px;
}
.company{
    background-image: url("../images/factory.png");
    background-repeat: no-repeat;
    border: none;
    height: 29px;
    background-position: 5px;
    padding-left: 31px;
    margin-bottom: 15px;
}
.loging{
    background-image: url("../images/Captura.PNG")
}
.loging >div:nth-child(1)>div:nth-child(1)>section>form>h1{
    justify-content: center;
    display: flex;
    color: #f2f2f2;
}
.loging >div:nth-child(1)>div:nth-child(1)>section>form>label{
    display: none;
}
/****************************blog***************************/

.proj{
    border:solid 3px #026f97;
    margin-bottom: 20px;
}
.tam{
    width: 80%;
}
.proj>div:nth-child(1){
    display: flex;
    padding: 10px;
}
.proj>div:nth-child(1)>div:nth-child(2){
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 50%;
}
#blog{
    margin-top: 50px;
    margin-bottom: 92px;
}
.proj>div:nth-child(1)>div:nth-child(1){
    width: 40%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.proj>div:nth-child(1)>div:nth-child(2)>div:last-child{
    display: flex;
    justify-content: flex-end;
}

#blog>div:nth-child(1){

    display: flex;
    flex-direction: column;
    align-items: center;
}
.proj > div:nth-child(1) > div:nth-child(2)>div:nth-child(1){
    justify-content: flex-end;
    display: flex;
}

h2{
    font-weight: 100;
    color: #026f97;
}

.proj>div:nth-child(1)>div:nth-child(2)>div:first-child>img:first-child{
    margin-right: 10px;
}
.respuesta {
    display: none;
}
.proj>div:nth-child(2) {
    margin: 10px 20px;
    /*    display: none;*/
}

/* Resalta la valoracion definida por el usuario en un proyecto cuando ese usuario ha iniciado sesion */
.valoracion-active {
    box-shadow: 0px 0px 16px #00dace;
}

/*.res,*/ .comm {    
    padding: 10px;
    width: 220px;
    border-radius: 10px;  
    background-color: #cddde3;
    width: auto;
    margin-top: 15px;
}

.res{
    margin-left: 105px;

}
/*.res:before ,*/ .comm:before{
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 30px solid #cddde3;
    border-bottom: 20px solid transparent;
    margin: 10px 0px 0px -32px;
}

.responder
{
    border: 2px solid #2d9cdb;
    width: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    margin-bottom: 10px;
    margin-top: 11px;
}
/******************error******************/
#error>div:nth-child(1)>div:nth-child(1){
    width: 50%;
    height: 1000px;
}
#error>div:nth-child(1)>div:nth-child(2)>div:nth-child(1){
    display: flex;
}
#error>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>img{
    width: 26%;
    height: 26%;
}

#error>div:nth-child(1)>div:nth-child(2)>div:nth-child(1){
    font-family: "cuatro";
    font-size: 104px;
    display: flex;
    align-items: center;
}


/* div para hacer el crop de una imagen */

#cropbox {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 1;
    margin: auto;
    bottom: 0;
}

#cropbox img {
    width: 100%;
}


/* Situaciones */

.steps{
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around !important;
}
.step
{
    min-width: 250px;
    height: 50px;
    color:#fff;
    position: relative;
    background-color: lightblue;
    /*
    -webkit-clip-path: polygon(0 0, 90% 0, 98% 50%, 90% 100%, 0 100%, 8% 50%);
    clip-path: polygon(0 0, 90% 0, 98% 50%, 90% 100%, 0 100%, 8% 50%);
    */
    background-clip: padding-box;

}

.arrow {
    border-style: dashed;
    border-color: transparent;
    border-width: 0.20em;
    display: -moz-inline-box;
    display: inline-block;
    /* Use font-size to control the size of the arrow. */
    font-size: 125px;
    height: 0px;
    line-height: 0;
    position: absolute;
    vertical-align: middle;
    width: 0;
    background-color:#f2f2f2; /* change background color acc to bg color */ 
    border-left-width: 0.2em;
    border-left-style: solid;
    border-left-color: lightblue;
    right: 0;
}
.arrowB 
{
    border-style: dashed;
    border-color: transparent;
    border-width: 0.20em;
    display: -moz-inline-box;
    display: inline-block;
    /* Use font-size to control the size of the arrow. */
    font-size: 125px;
    height: 0px;
    line-height: 0;
    position: relative;
    vertical-align: middle;
    width: 0;
    border-left-style: solid;
    border-left-color: #f2f2f2;
    left: 0;
}
.faseactiva{
    background-color: #2D9CDB;
}

.edit{
    position: absolute;
    top: 0;
    right: 0;
}
/******************nuevo proyecto***********************/

/**Anular estilos del range**/
input[type='range']{
    appearance: none;
    background: transparent; /* quitamos estilos es moz y webkit lo ponemios transparente */
    width: 100%; /* En firefox es requerido poner el ancho */
}
input[type=range]:focus {
    outline: none; /*Elimina el borde azul. Se debería dar estilo de enfoque por razones de accesibilidad */
}
/**añadir css a la bolita**/
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background: whitesmoke;
    cursor: pointer;
    background-image: url("../images/money-bag-with-dollar-symbol.png");
    background-repeat: no-repeat;
    background-position: center;
    border:none;
}
/*****en motzilla**/
input[type=range]::-moz-range-thumb {
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background: whitesmoke;
    cursor: pointer;
    background-image: url("../images/money-bag-with-dollar-symbol.png");
    background-repeat: no-repeat;
    background-position: center;
    border:none;
}
/**Explorer**/
input[type=range]::-ms-thumb {
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background: whitesmoke;
    cursor: pointer;
    background-image: url("../images/money-bag-with-dollar-symbol.png");
    background-repeat: no-repeat;
    background-position: center;
    border:none;
}
/**editar la barra del range**/
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #2580ce;
    border-radius: 4px;
    border: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}
/*Motzilla*/
input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #2580ce;
    border-radius: 4px;
    border: none;

    /*border: 0.2px solid #010101;*/
}
/*Esplorer*/
input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #2580ce;
    border-radius: 4px;
    border: none;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#nuevoProjecto > div:nth-child(1) > form > div:nth-child(4) > div:nth-child(2) > div:nth-child(2){
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    color: #135792;
}

input[type=range]{
    /*background: #012545;*/
    margin-top: 40px;
    width: 97%;
}
output { 
    position: absolute;
    /*    background-image: linear-gradient(top, #444444, #999999);*/
    width: 40px; 
    height: 30px; 
    text-align: center; 
    color: white; 
    border-radius: 10px; 
    display: inline-block; 
    font: bold 15px/30px Georgia;
    bottom: 175%;
    left: 0;
    margin-left: -1%;
    background: #2580ce;
    bottom: 40%;
}

output:after { 
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #2580ce;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}
#nuevoProjecto > div:nth-child(1) > form > div:nth-child(4) > div:nth-child(2) > div:nth-child(1){
    position: relative;
}





















#nuevoProjecto>div:nth-child(1)>form>div:nth-child(1){
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 4px;
    /*background-color: #82B4E0;*/
    /*padding-bottom: 136px;*/
    /*    height: 391px;*/
}
#nuevoProjecto>div:nth-child(1)>form>div{
    flex-direction: column;
    align-items: center;
    height: 497px;
    justify-content: center;
    text-align: center;

}
#nuevoProjecto>div:nth-child(1)>form>div:nth-child(1){
    background-color: #79C0FF;
}
#nuevoProjecto>div:nth-child(1)>form>div:nth-child(2){
    background-color: #2697FC;

}
#nuevoProjecto>div:nth-child(1)>form>div:nth-child(2)>div:nth-child(2){
    text-align: left;
    display: flex;

}
#nuevoProjecto>div:nth-child(1)>form>div:nth-child(2)>div:nth-child(2)>div:nth-child(1){
    margin-right: 45px;
}
#nuevoProjecto>div:nth-child(1)>form>div:nth-child(2)>div:nth-child(2)>div>textarea{
    width: 430px;
    height: 172px;
}
#nuevoProjecto>div:nth-child(1)>form>div:nth-child(3){
    background-color: #51ADFF;
}
#nuevoProjecto>div:nth-child(1)>form>div:nth-child(4){
    background-color: #A5D4FF;
}
#nuevoProjecto>div:nth-child(1)>form>div:nth-child(5){
    background-color: #4289DE;
}
#nuevoProjecto>div:nth-child(1)>form>div:nth-child(5)>div>button{
    height: auto;
    width: 391px;
    border-radius: 100px;
    background: #4289de;
    border: 3px #fbfbfb solid;
    font-size: 30px;
    color: white;
}
#nuevoProjecto>div:nth-child(1)>form>div:nth-child(1)>div:nth-child(2)>div{
    display: flex;
    margin-bottom: 10px;
}
#nuevoProjecto>div:nth-child(1)>form>div:nth-child(1)>div:nth-child(2)>div>p{
    margin: 0px 3px 0px auto;
}
#nuevoProjecto>div:nth-child(1)>form>div:nth-child(2), #nuevoProjecto>div:nth-child(1)>form>div:nth-child(3), #nuevoProjecto>div:nth-child(1)>form>div:nth-child(4), #nuevoProjecto>div:nth-child(1)>form>div:nth-child(5),  #nuevoProjecto>div:nth-child(1)>form>div:nth-child(6){
    display: none;
}
#nuevoProjecto>div:nth-child(1)>div>input{
    background-image: url("../images/play-button.png");
    background-repeat: no-repeat;
    width: 34px;
    height: 32px;
    border: none;
    padding: 0px;
    /*background-color: #82b4e0;*/
}
#nuevoProjecto>div:nth-child(1)>div>input:nth-child(1){
    transform: rotate(182deg);
    position: absolute;
}
#nuevoProjecto>div:nth-child(1)>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;

}
#nuevoProjecto>div:nth-child(1){
    margin-bottom: 98px;
    margin-top: 50px;
    position: relative;
}
#nuevoProjecto>div:nth-child(1)>div>input:nth-child(2){
    right: 1px;
    position: absolute;
}
/*******************perfil**************/
#perfil>div:nth-child(1)>div:nth-child(1)>div:nth-child(1){
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
#perfil>div:nth-child(1)>div:nth-child(1){
    display: flex;
    margin-top: 20px;
}
#perfil>div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>div{
    display: flex;  
}
#perfil>div:nth-child(1)>div:nth-child(1)>div:nth-child(2){
    margin-left: 19px;
}
#perfil>div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>div:nth-child(1)>input{
    background-image: url("../images/lapiz.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0px;
    background-position: 5px 6px;
}
#perfil>div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>input{
    background-image: url("../images/boton-redondo-de-anadir.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0px;
    background-position: 5px 6px;
}
#perfil>div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>p{
    color:#2D9CDB;
    font-weight: 900;
}
#perfil>div:nth-child(1)>div:nth-child(2) {
    margin-top: 30px;
}
.vermas-btn {
    background-color: #f2f2f2;
    border: none;
    font-size: 20px;
    color: #2F80ED;
    width: 100%;
}
#perfil>div:nth-child(1)>div:nth-child(2)>button, #perfil>div:nth-child(1)>div:nth-child(3)>div:nth-child(1)>button {
    width: 100%;
    margin-bottom: 50px;
}#perfil>div:nth-child(1)>div:nth-child(3)>div:nth-child(1)>button{
    margin-bottom: 85px;
}
#perfil>div:nth-child(1)>div:nth-child(3)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)  {
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 100px;
}
#perfil>div:nth-child(1)>div:nth-child(3)>div:nth-child(1)>div:nth-child(1) {
    display: flex;

}
#perfil>div:nth-child(1)>div:nth-child(3)>div:nth-child(1)>div:nth-child(1)>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#perfil>div:nth-child(1)>div:nth-child(3)>div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>div:nth-child(1){
    display: flex;
    justify-content: flex-end;
}
.proj-perfil{
    position: relative;
}
.proj-perfil>div:nth-child(1)>div:nth-child(2)>div{
    position: absolute;
    bottom: 0px;

}
#perfil > div:nth-child(1) > div:nth-child(3){
    display: flex;
    flex-direction: column;
}
#perfil>div:nth-child(1)>div:nth-child(3)>button{

}
/*************************registro*********************/

#reg > div:nth-child(1) > div:nth-child(1) {
    background-color: rgba(7, 61, 92, 0.7);
    width: 29%;
    justify-content: center;
    display: flex;
    padding-bottom: 50px;
    margin-bottom: 94px;
}
#reg{
    padding-bottom: 0px;
}
#reg > div:nth-child(1) > div:nth-child(1) {
    width: 50%;

}
#reg > div:nth-child(1) > div:nth-child(1)>section>form>div>div>input{
    height: 41px;
    width: 300px;
}
@media (max-width: 1075px) {
    #reguistro > div:nth-child(1) {

        text-align: center;

    }
    #reguistro > div:nth-child(1) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    #reguistro > div:nth-child(1) > div:nth-child(2) {
        margin-left: 0px;

    }
    .continer_project, .continer_projectn {
        width: 743px;
    }
    .tam {
        width: 70%;
    }
    .options > div {
        width: 106px;
        background-position: 85px;
    }
    #nuevoProjecto > div:nth-child(1) > form > div:nth-child(2) {
        height: auto;
    }
    #nuevoProjecto > div:nth-child(1) > form > div:nth-child(2) > div:nth-child(2) {
        flex-direction: column;
        margin-bottom: 15px;
    }
    #perfil > div:nth-child(1) > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .proj-perfil {
        width: 95%;
    }
    #perfil > div:nth-child(1) > div:nth-child(1){
        width: 95%;
    }
    #perfil > div:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgProjec {
        width: auto;
        overflow: hidden;
        height: 473px;
        display: flex;
        justify-content: center;
    }


}
@media (max-width: 850px){
    #info > div:nth-child(1) > div {
        width: 400px;
    }
    #info > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #comentarios > div:nth-child(1) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    #comentarios > div:nth-child(1) > div:nth-child(1), #comentarios > div:nth-child(1) > div:nth-child(2) {

        margin-bottom: 39px;
    }
    .continer_project, .continer_projectn {
        width: 625px;
    }
    .tam {
        width: 60%;
    }
    .options {
        flex-direction: column;
    }
    .options > div {
        margin-bottom: 10px;
    }
    #comment > div:nth-child(1) > textarea {
        width: 50%;
    }
    .proj-perfil{
        width: 84%;
    }

    #perfil > div:nth-child(1) > div:nth-child(1) {
        width: 84%;
    }

}
@media screen and (max-width: 750px){
    .continer_project, .continer_projectn {

        width: 70%;
        height: auto;

    }
    .continer_project > div:nth-child(1) {
        display: flex;
        flex-direction: column;
    }
    .continer_project > div:nth-child(1) > div:nth-child(1) {

        width: 100%;
        height: 300px;
    }
    .continer_project > div:nth-child(1) > div:nth-child(2){
        margin-bottom: 20px;
        width: 80%;
    }
    #projectop > div:nth-child(1) > div:nth-child(2) {
        align-items: center;
    }
    .continer_projectn > div:nth-child(1) > div:nth-child(3) {
        justify-content: center;
        display: flex;
        margin-bottom: 20px;
    }
    #projectop > div:nth-child(1) > div:nth-child(1) {
        color: #ffffff;
        width: 60%;
        text-align: center;
    }
    .proj > div:nth-child(1) > div:nth-child(1) {
        width: 100%;
        height: auto;
    }
    .tam > div:nth-child(1) {
        flex-direction: column;
    }
    .proj > div:nth-child(1) > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 92%;
    }
    .proj > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        margin-top: 10px;
    }
    #comment > div:nth-child(1) {
        width: 53%;
    }
    #comment > div:nth-child(1) > textarea {
        width: auto;
    }
    .tam{
        width: 48%;
    }
    #reg > div:nth-child(1) > div:nth-child(1) {
        width: 80%;
    }
    .proj-perfil {
        width: 55%;
    }
    #perfil > div:nth-child(1) > div:nth-child(1) {
        width: 55%;
    }

    #perfil > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1) {
        width: 100%;
    }


}
@media screen and (max-width: 500px){
    .continer_project, .continer_projectn {

        width: 50%;
        height: auto;

    }
    #reguistro > div:nth-child(1) > div:nth-child(2) {
        width: 264px;

    }
    #reguistro > div:nth-child(1) > div:nth-child(1) {
        width: 400px;
    }
    #comentarios > div:nth-child(1) > div:nth-child(1) > div:nth-child(1), #comentarios > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        margin-left: 43px;
    }
    .tam {
        width: 27%;
    }
    #nuevoProjecto > div:nth-child(1) > form > div:nth-child(2) > div:nth-child(2) {
        width: 208px;
    }
    #nuevoProjecto > div:nth-child(1) > form > div:nth-child(2) > div:nth-child(2) > div > textarea {
        width: 220px;
        height: 133px;
    }
    #nuevoProjecto > div:nth-child(1) > form > div:nth-child(5) > div > button {
        width: 204px;
        font-size: 17px;
    }
    #nuevoProjecto > div:nth-child(1) > form > div:nth-child(1) > div:nth-child(2) > div {
        display: flex;
        margin-bottom: 10px;
        flex-direction: column;
        margin-top: 13px;
    }
    #reg > div:nth-child(1) > div:nth-child(1)>section>form>div>div>input{
        height: 41px;
        width: 150px;
    }
    #perfil > div:nth-child(1) > div:nth-child(1) {
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }
    .proj-perfil > div:nth-child(1){
        flex-direction: column;
    }
    .proj-perfil {
        width: 40%;
    }
    #perfil > div:nth-child(1) > div:nth-child(3) > div:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #perfil > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) > div:nth-child(1){
        width: 62%;
    }
    nav > ul > li {
        padding-right: 8px;
    }
    footer > div:nth-child(1) {
        flex-direction: column;
    }
    footer > div:nth-child(1) > div:nth-child(2) > ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer > div:nth-child(1) > div:nth-child(2) > ul > li {
        margin-bottom: 2px;
    }
    footer > div:nth-child(1) > div:nth-child(3) {
        justify-content: center;
        width: 100%;
    }
    #project > div:nth-child(1) > div:nth-child(3) {
        display: flex;
        margin-top: 50px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    #project > div:nth-child(1) > div:nth-child(3)>div:nth-child(1) {
        margin-bottom: 21px;
    }
    .imgProjec {
        width: auto;
        overflow: hidden;
        height: 273px;
        display: flex;
        justify-content: center;
    }
    .res {
        margin-left: 29px;
    }
    .comm > div:nth-child(1) {
        display: none;
    }
    #nuevoProjecto > div:nth-child(1) > form > div:nth-child(3)>div:nth-child(2)>div{
        width: 236px;
        align-items: left;
        display: flex;
        flex-wrap: wrap;

    }
}
@media screen and(max-width:400px) and (min-width: 280px){
    #reguistro > div:nth-child(1) > div:nth-child(1) {
        width: 277px;
    }
    #info > div:nth-child(1) > div {
        width: 250px;
    }

    #comentarios > div:nth-child(1) > div:nth-child(1), #comentarios > div:nth-child(1) > div:nth-child(2) {
        width: 243px;
    }
    #comentarios > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1), #comentarios > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
        width: 245px;
    }
    #comentarios > div:nth-child(1) > div:nth-child(1) > div:nth-child(1), #comentarios > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        margin-left: 3px;
    }
    .continer_project, .continer_projectn {
        width: 41%;
        height: auto;
    }
    .tam {
        width: 25%;
    }
    .res {
        margin-left: 34px;
    }

}

