@font-face {
    font-family: "text";
    src: url(../fonts/PT_Sans/PT_Sans-Web-Regular.ttf);
}
@font-face {
    font-family: "title";
    src: url(../fonts/PT_Serif/PT_Serif-Web-Bold.ttf);
}
body{
    background-color: #F2F2F2;
    margin: 0px 0px;
    font-family: text;
}
h1{
    font-family: title;
}

#allcomentarios,footer, header, #info, #reguistro, #comentarios, #userstop, #projectop, #project, #loging {
    width: 100%;
    justify-content: center;
    display: flex;
}
footer{
    background-color: #0A1218;
    /*    justify-content: center;*/
    display: flex;

}
#loging >div:nth-child(1), #allcomentarios> div:nth-child(1),#project> div:nth-child(1),#projectop > div:nth-child(1), #userstop> div:nth-child(1),footer> div:nth-child(1), header> div:nth-child(1), #info>div:nth-child(1), #reguistro>div:nth-child(1), #comentarios>div:nth-child(1){
    width: 1200px;
}
footer> div:nth-child(1){

    display: flex;
    color: #BDBDBD;
    display: flex;
    align-items: center;

}

footer> div:nth-child(1)>div:nth-child(1){
    background-image: url("../images/images2.jpg");
    height: 100px;
    background-repeat: no-repeat;
    width: 102px;
    background: #026f97 no-repeat bottom center fixed;
}
footer> div:nth-child(1)>div>ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
}
footer> div:nth-child(2)>div:nth-child(1){
    justify-content: center;
}
footer> div:nth-child(2)>div:nth-child(1)>ul{
    justify-content: end;
}
footer> div:nth-child(1)>div>ul>li{
    margin-left: 5px;
}
footer> div:nth-child(1)>div>ul>li>a{
    color: #BDBDBD;
    text-decoration:none; 
}
footer> div:nth-child(1)>div:nth-child(3){
    justify-content: end;
    width: 45%;
    display: flex;
}
header{
    border-bottom: 1px solid #2D9CDB;
    margin-bottom: 50px
}
nav> ul {
    display: flex;
    justify-content: end;
    list-style: none;
    height: 33px;
}
nav> ul > li >a {
    text-decoration: none;
    color: #000000;
}
nav> ul > li {
    margin-right: 12px;
    border-right: 1px solid #2D9CDB;
    padding-right: 20px;
    display: flex;
    align-items: center;
}
#info{
    margin-bottom: 100px;
}
#info >div:nth-child(1)>div{
    width: 272px;
}
#info >div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#info >div:nth-child(1)> div:nth-child(1), #info >div:nth-child(1)> div:nth-child(2), #info >div:nth-child(1)> div:nth-child(1){
    display: flex;
    flex-direction: column; 
}
#reguistro {
    background-color: #012545;
    color:#ffffff;
    transform: skew(0deg, -4deg);
    transition: width 1.2s ease-in-out;
    /*margin-top: 43px;*/
    /*margin-bottom: 43px;*/
}
#reguistro > div:nth-child(1){
    display: flex;
    margin-top: 43px;
    margin-bottom: 43px;


}
#reguistro > div:nth-child(1)>div:nth-child(1){
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    transform: skew(0deg, 4deg);
}
#reguistro > div:nth-child(1)>div:nth-child(2){
    display: flex;
    flex-direction: column;
    width: 364px;
    margin-left: 213px;
    transform: skew(0deg, 4deg);
}
#register>div{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
#reguistro{
    margin-bottom: 100px;
}
#comentarios>div:nth-child(1){
    display: flex;
    justify-content: space-around;
}
#comentarios > div:nth-child(1)> div:nth-child(1)> div:nth-child(1)> div:nth-child(1) ,#comentarios > div:nth-child(1)> div:nth-child(2)> div:nth-child(1)> div:nth-child(1){
    background-image: url("../images/tesla.jpg");
    height: 235px;
    width: 283px;
    background-position: 50% 7%;
}
#comentarios > div:nth-child(1)>div:nth-child(1),#comentarios > div:nth-child(1)>div:nth-child(2){
    border: 4px solid #56CCF2;
    width: 335px;
}
#comentarios > div:nth-child(1)>div:nth-child(1)>div:nth-child(1), #comentarios > div:nth-child(1)>div:nth-child(2)>div:nth-child(1){
    padding: 10px 0px 0px 20px;
    margin-left: 60px;
}
#comentarios > div:nth-child(1)>div:nth-child(1)>div:nth-child(2),#comentarios > div:nth-child(1)>div:nth-child(2)>div:nth-child(2){
    padding: 0px 15px;
}
#comentarios > div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>h2, #comentarios > div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>h2{
    color: #2D9CDB;
    font-size: 19px;
}
#comentarios > div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>h1, #comentarios > div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>h1{
    font-size: 28px;
    margin: 0px 0px;
}
#comentarios > div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>p:before, #comentarios > div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>p:before{
    content: "“";
}
#comentarios > div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>p ,#comentarios > div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>p{
    font-style: oblique;
}
#comentarios > div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>p:after,#comentarios > div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>p:after{
    content: "”";
}
#userstop{
    margin-top: 100px;

}
#userstop> div:nth-child(1){
    display: flex;
    justify-content: center;
    flex-direction: column;

}
#userstop> div:nth-child(1)>div:nth-child(2){
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.container_user{
    /*    border: 4px solid #56CCF2;*/
    width: 335px;
    margin-left: 57px;
    margin-bottom: 44px;
    /*    border-radius: 204px;
        overflow: hidden;*/
}
.container_user > div:nth-child(2) > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_user >div:nth-child(1)>img{
    width: 335px;
    height: 335px;
    border-radius: 200px;
}
#userstop >div:nth-child(1)>div:nth-child(1){
    justify-content: center;
    display: flex;
}
#projectop>div:nth-child(1){
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#projectop{
    background-color: #012545;
}
#projectop>div:nth-child(1)>div:nth-child(2){
    display: flex;
    justify-content:center;
    flex-direction: column;
}
.continer_project, .continer_projectn{
    background-color: #F2F2F2;
    overflow: hidden;
    height: 228px;
    width: 854px;
    height: 235px;
    margin-bottom: 20px;
}
.continer_project>div:nth-child(1)>div:nth-child(1){
    overflow: hidden;
    width: 50%;
}
.continer_project>div:nth-child(1){
    display: flex;
    flex-direction: row;
}
.continer_project>div:nth-child(1)>div:nth-child(2){
    padding: 0px 16px 0px 41px;
    width: 301px;
}
.continer_projectn>div:nth-child(1)>div:nth-child(3) >a, .continer_project>div:nth-child(1)>div:nth-child(2)>div:nth-child(3){
    border: solid 1.5px #007098;
    height: 33px;
    width: 131px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;


}
.continer_projectn>div:nth-child(1)>div:nth-child(3)>a, .continer_project>div:nth-child(1)>div:nth-child(2)>div:nth-child(3)>a{
    text-decoration:none; 
    color:#007098;
}
.continer_projectn{
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}
.continer_projectn>div:nth-child(1){
    text-align: center;
}
.continer_projectn>div:nth-child(1)>div:nth-child(2){
    padding: 0px 20px;
}
.continer_projectn>div:nth-child(1)>div:nth-child(3){
    justify-content: center;
    display: flex;
}
#projectop > div:nth-child(1) > div:nth-child(1){
    color:#ffffff;
}
/*******PROJECTO********/
#project>div:nth-child(1){
    display: flex;
    flex-direction: column;
}
#project>div:nth-child(1)>div:nth-child(1){
    width: 1200px;
    overflow: hidden;
    height: 473px;
}
#project>div:nth-child(1)>div:nth-child(1)>img{
    width: 1200px;
}
#project>div:nth-child(1)>div:nth-child(2){
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
#project>div:nth-child(1)>div:nth-child(2)>div:nth-child(2){
    display: flex;

}
#project>div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>div{
    border: 2px solid #2D9CDB;
    width: 126px;
    padding: 0px 2px;
    background-repeat: no-repeat;
    background-position: 96px;
}
#project>div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>div:nth-child(1){
    background-image: url("../images/chat.png")
}
#project>div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>div:nth-child(2){
    background-image: url("../images/icon.png");
    margin-left: 26px;
    margin-right: 26px;
}
#project>div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>div:nth-child(2)>a{
    text-decoration: none;
    color: #000000;
}
#project>div:nth-child(1)>div:nth-child(3){
    width: 1200px;
    display: flex;
    justify-content: end;
    margin-top: 50px;
}
#project>div:nth-child(1)>div:nth-child(4){
    display: flex;
    justify-content: center;
    order:-1;
}
#project>div:nth-child(1)>div:nth-child(4){
    text-transform:uppercase;
}
#project>div:nth-child(1)>div:nth-child(6){
    margin-top: 50px;
}
#comment>div:nth-child(1){
    display: flex;
    justify-content: center;
}
#comment{
    width: 1200px;
}
#comment>div:nth-child(1)>label{
    display: none;
}
#comment>div:nth-child(1)>input::before{
    content: "Deja tu comentario";
}
#comment>div:nth-child(1)>textarea{
    background-color: #ECE2E2;
    border: transparent;
    height: 100px;
    box-shadow: 7px 9px 16px -2px rgba(143,143,143,1);
    width: 54%;
    padding: 28px;
}
#comment>div:nth-child(2)>button{
    background: transparent;
    border: 2px solid #2D9CDB;
    width: 104px;
    width: 125px;
    height: 38px;
}
#comment>div:nth-child(2){
    justify-content: end;
    display: flex;
    margin: 10px 201px;
}
#allcomentarios>div:nth-child(1)>hr{
    color: #2D9CDB;
    padding: 1px;
    width: 44%;
    background-color: #2D9CDB;
    border: none;
    margin-left: 268px;
}
.comm{
    display: flex;
    /*justify-content: center;*/
    display: flex;
    margin-left: 268px;
}
.comm>div:nth-child(1){
    width: 142px;
}
.comm>div:nth-child(1)>img{
    width: 103px;
}
.comm>div:nth-child(2){
    flex-direction: column;
    justify-content: center;
    display: flex;
}

/************************loging*********************************/
#loging >div:nth-child(1)>div:nth-child(1){
    background-color: rgba(45, 156, 219, 0.68);
    width: 50%;
    justify-content: center;
    display: flex;
    padding-bottom: 50px;
}
#loging >div:nth-child(1)>div:nth-child(1)>section>form{
    display: flex;
    flex-direction: column;

}
#loging{
    margin-bottom: 50px;
}
#loging >div:nth-child(1){
    display: flex;
    justify-content: center;
}
#loging >div:nth-child(1)>div:nth-child(1)>section>form>input:last-child{
    margin-top: 30px;
    margin-top: 30px;
    border-radius: 0px 0px;
    border: none;
    height: 27px;
    width: 50%;
    background-color: #f2f2f2;
}
.email{
    background-image: url("../images/black-envelope.png");
    background-repeat: no-repeat;
    border: none;
    height: 29px;
    background-position: 5px;
    padding-left: 31px;
}
