{% extends 'base.html.twig' %}

{% block  contenido %}
    <div id ="error">
        <div>
            <div>
                <img src="{{ asset('assets/images/greek-37518_1280.png') }}" alt="hermes">
            </div>
            <div>
                <div>
                    <p>4</p><img src="{{ asset('assets/images/greek-3223553_640.png') }}" alt="hermes"><p>4</p>
                </div>
            </div>
        </div>
    </div>
{%endblock%}